.data-invoice-title{
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.name-form {
    text-align: center;
}

.lastname-form{
    text-align: center;
}
 .input-form {
     text-align: center;
}

.element-title-form {
    text-align: center;
}
.telephone-form {
    text-align: center;
}
.input-form-onecolumn{
    text-align: center;
}

.adress-form{  
    text-align: center;
}
.city-form{
    text-align: center;
}

.country-form{
    text-align: center;
}
.zipcode-form{
    text-align: center;
}

.total-products{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.pay-button-checkout button{
    margin-top: 1.5em;
    width: 80%;
    margin-left: 10%;
}