.column-title{    
    margin-bottom: 3em;
    margin-top: 5%;
}

.column-title h1{
    text-align: center;
    text-decoration: underline;
}


.contact-column{
    display: flex;
    margin-left: 25%;
    margin-top: 2%;
}

.column-information-title h2{
    text-align: center;
}

.column-information-title{
    margin-bottom: 3em;
}

.contact-column{
    display: flex;
    margin-left: 25%;
    margin-top: 2%;
}

.contact-column svg{
    height: 3em;
    fill:$primary-color;
}

.contact-title {
    margin: 3% 2%
}


.contact-form-element{
    display: inline-block;
    margin-top: 0.5em;
}   

.contact-form-label{
    text-align: left;
    margin-top: 0.5em;
}

.contact-form-element textarea{
    height: 6em;
    width: 25em;
}

.contact-form-element-button{
    margin: 1% 70%;    
}

.contact-store{
    font-family: 'Ubuntu';
    border-radius: 10%;
}

.contact-store:hover{
    background-color: $primary-color;
    color: hsl(0, 0%, 100%);
}
