header{   
    
    background: linear-gradient(90deg, hsl(212, 96%, 54%) 0%, hsl(216, 100%, 77%) 50%, hsl(212, 96%, 54%) 100%);
    height:auto;        
    margin: -1em 0em 0em 0em;       
    width: 100%;
    
    
}