/*====================
======Panel Title=====
======================*/

.panel-section-title {
    text-align: center;
    margin-top: 1.5em;
}

.panel-title {
    text-align: center;
    margin-top: 1.5em;
}


/*====================
========List=========
======================*/

.inline li {
    display: inline;
}

.form-input input {
    width: 100%;
}

.form-label {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.add-button {
    cursor: pointer;
}

.sale-title {
    margin-top: 0.5em;
}

.ticket-data {
    margin-top: 0.5em;
    margin-left: 1em;
}

.product-cart {
    display: block;
    justify-content: space-between;
    margin-top: 0.5em;
}