

/*====================
======Panel Title=====
======================*/

.panel-section-title {
    text-align: center;
    margin-top: 1.5em;
}

.panel-title {
    text-align: center;
    margin-top: 1.5em;
}


/*====================
========List=========
======================*/

.inline li{
    display: inline;
}




