.column-categories{
    text-align: center;
    margin-top:0.5em;
}

.header-column-main{
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.categories-title{
    margin-bottom: 1.5em;
}
.total-products{
    margin-left: 2em;
}


.filter-products{
    margin-top: 1em;
    margin-left: 2em;
}

.product-title{
    text-align: center;
}

.product-price{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.product-button{
    text-align: center;
}