.desktop-five-columns {
    width: 100%;
    display: flex;
}

.desktop-five-columns .column{
    width: 15%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 10%;
}

.desktop-four-columns .column{
    width: 22%;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;

}

.desktop-two-columns-aside .column-aside{
    width: 15%;
    border-width: 0.05em;
    border-left: 0em;
    border-top: 0em;
    border-bottom: 0em;
    border-style: solid;
    
}

.desktop-two-columns-aside .column-main{
    width: 75%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}