.footer-columns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0em 0em 0em 0em;
    font-size: 1em;
}

.footer-column-left{
    text-align: center;
    font-family: 'Noto Sans';
    margin: 0.5em 0em 0em 0em;
}

.footer-column-middle{
    text-align: center;
    font-family: 'Noto Sans';
    margin: 0.5em -4em 0em 0em;
    
}

.footer-column-right{
    text-align: center;
    font-family: 'Noto Sans';
    margin: 0.5em 0em 0em 0em;        
}

.copyright{
    font-family: 'Noto Sans';
    text-align: center;
    font-size: 0.8em;
}
