body{
    background-color: hsl(0, 0%, 100%);
}

footer{
    background-color: $primary-color;
    height: auto;
    width: 100%;                 
    bottom: 0;   
    padding-bottom: 0.5em;
    margin-top: 2em; 
    
}

 .desktop-only{
    display: block;
}

.mobile-only{
    display: none;
}


