
    .hamburguer{  
        margin-top: 1em;
        display:none;  
        padding:5px;  
        cursor:pointer;  
        }  

    .bar1,.bar2,.bar3{  
        display:block;  
        width:35px;  
        height:3px;  
        margin:5px auto;  
        background-color:#101010;  
        transition: 0.4s;  
        }  