.navbar-left-title {    
    font-family: $font-stack;
    margin: 2em 95em 0em 0em;        
}


.navbar-right{
    display: flex;
    justify-content: space-between;

        ul{
            display: flex;  
            justify-content: space-around;
            list-style: none;
            margin: 2em 0em 0em 0em;
        }

        li a{
            color: #000000;        
            font-size: 1.5em;
            font-family: $font-stack;
            margin: 1.2em;  
            text-decoration: none;    
        }

        li a:hover{
            color: hsl(0, 0%, 100%);
        }       

        .home-icon{
            margin: -0.5em -2.5em 0em -0.5em;
            height: 2em;
            width: 3em;
        }

        .youtube-icon{
            margin: -0.5em 0.5em 0em 1em;
            height: 3em;
            width: 2.5em;
        }

        .youtube-icon:hover{
            color: hsl(0, 100%, 50%);
        }

        .instagram-icon{
            margin: -0.5em 0.5em 0em 1em;
            height: 3em;
            width: 2.5em;
        }

        .instagram-icon:hover{
            color: hsl(347, 64%, 33%)
        }

        .facebook-icon{
            margin: -0.5em 0.5em 0em 1em;
            height: 3em;
            width: 2.5em;
        }

        .facebook-icon:hover{
            color:hsl(240, 82%, 55%)
        }

        .twitter-icon{
            margin: -0.5em -0.5em 0em 1em;
            height: 3em;
            width: 2.5em;
        }

        .twitter-icon:hover{
            color: hsl(197, 98%, 44%);
        }

}