//z-index
$z-index-featured-image: 1000;
$z-index-slider-image: 1000;
$z-index-featured-elements: 1001;
$z-index-slider-elements: 1001;
$z-index-header: 2000;
$z-index-overlay: 5001;
$z-index-spinner: 5002;

//typography
$font-stack: 'Noto Sans, sans-serif';
$font-stack-condensed: 'Noto Sans, sans-serif';

//colors
$primary-color: #1982fa;
$primary-color-light: #8ab9ff;
$secondary-color: #6ba6ff;

//style
$text-border: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;