.quantity-counter{
    display: flex;
}

.quantity-title{
    font-family: $font-stack;
    margin-left: 1.5em;
}

.quantity-counter-input input{
    font-family: $font-stack;
    font-weight: 700;
    width: 2em;
}

.quantity-counter-button-less{            
    margin-left: 1em;
}

.add-button button{
    font-family: $font-stack;
    font-weight: 700;
    width: 100%;
    margin-top: 1.5em;

    button:hover{
        color: $primary-color;  
    }


}

