    .delete-layer {
        background-color: rgba(0, 0, 0, 0.418);
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        height: 100%;
        transition: 0.4s;
        opacity: 0;
        z-index: -1;
        &.active {
            opacity: 1;
            z-index: 5000;
        }
    }
    
    .delete-layer-buttons {
        display: flex;
    }
    
    .delete-confirmation button {
        margin-top: 2em;
        margin-left: 34em;
        width: 15vh;
        cursor: pointer;
    }
    
    .delete-confirmation button:hover {
        background-color: $primary-color;
    }
    
    .delete-cancel button {
        margin-top: 2em;
        margin-left: 1em;
        width: 15vh;
        cursor: pointer;
    }
    
    .delete-cancel button:hover {
        background-color: $primary-color;
    }
    
    .delete-layer-title {
        margin-top: 6em;
        font-size: 3em;
        margin-left: 10.5em;
        color: hsl(0, 0%, 100%);
        font-family: 'Noto Sans', sans-serif;
    }