

.container--tabs-local {
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
    margin-top: 0em;
    padding-top: 0em;

	.tab-local {
        margin-top: 0.5em;
        margin-left: 0.7em;
        min-height: 2em;
		padding: 1em;
		box-sizing: border-box;
		width: 100%;
		text-align: center;
		cursor: pointer;
		background-color: $primary-color-light;
		color: rgb(0, 0, 0);
        font-weight: 700;
		transition: background-color 0.25s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.25);
			transition: background-color 0.25s;
			color: white;
		}
	}

	.tabs--active-local {
		background-color: $primary-color;
		color: black;
		pointer-events: none;
	}
}

.content-local {
	display: none;

}

.content--active-local {
	display: block;
}

h1 {
	margin-bottom: 0.5em;
	font-weight: 700;
}

p {
	font-weight: 300;
}
