.form{
    background-color: hsl(216, 100%, 71%);
    opacity: 0;
    padding: 1rem;
    position: absolute;
    right: 5%;
    transition: all 0.5s;
    transition-delay: 0.1s;
    width: 0;
}

.form > * {
    opacity: 0;
}

.form.active{
    opacity: 1;
    right: 5%;
    transition-delay: 0.1s;
    width: 40%;
}

.form.active > * {
    transition: opacity 0.6s;
    transition-delay: 0.2s;
    opacity: 1;
}

.form{
    font-family: 'Noto Sans';
}

.name-label{
    margin-bottom: 0.5em;    
}

.form-input{
    margin-bottom: 0.5em;
}

.form-input input{
    width: 100%;
}