

.menu{
    background: linear-gradient(90deg, hsl(212, 96%, 54%) 0%, hsl(216, 100%, 77%) 50%, hsl(212, 96%, 54%) 100%);
    position: absolute;
    top: -1vh;
    transition: all 0.5s;
    width: 100%;  
    left: 0em; 
    height: auto;
    
}
 .menu.active{
    transition: all 0.5s;
    top: 5vh; 
    width: 100%;
       
   
}

.menu ul li{
    display: inline;
    text-align: center;
    margin-left: 3.5em;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

