

.menu{
    background-color: hsl(212, 96%, 54%);
    position: absolute;
    top: -4vh;
    transition: all 0.5s;
    width: 90%;
}
 .menu.active{
    transition: all 0.5s;
    top: 14%;   
}

.menu ul li{
    display: inline;
    margin-left: 3.5em;
    font-weight: 700;
    font-family: 'Noto Sans';
}

