.save-button-notification{
    display:flex;
    justify-content: space-between;
    position: absolute;
    top: -25vh;
    background-color: $primary-color;    
    border-radius: 1em;
    border: solid 0.05em hsl(0, 0%, 0%);
    font-weight: 700;
    color: hsl(208, 100%, 97%);
}

.save-button-notification-active{
    top: 19vh;
    
}

.save-button-notification-svg svg {
    height: 2.5em;
    fill: rgb(21, 255, 0);
}

.save-button-notification-title{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
}