.featured-element{
    margin: 0.5em 0.5em 0em 0.5em;  
    overflow: hidden;
    width: 45%;
    box-shadow: hsla(0, 0%, 0%, 0.4) 0px 2px 4px, hsla(0, 0%, 0%, 0.3) 0px 7px 13px -3px, hsla(0, 0%, 0%, 0.2) 0px -3px 0px inset;
}


.featured-title{
    text-align: center;
    font-family: $font-stack;
}

.product-level:hover{
    border-color: $primary-color ;
    border-style:solid
}

.featured-title h1{
    text-align: center;
    font-family:$font-stack;
    margin: 1em 0em 1em 0em;
}

.featured-description{
    text-align: center;
    margin-top: 2em;
    display: flex;
    width: 45%;
}

.featured-column{
    display: flex;
}
