.contact-column-icon svg{
    height: 1.5em;
}

.contact-column{
    margin-top: 1.5em;
    display: flex;
    justify-content: start;
    text-align: center;
    width: 80%;  
    margin-left: 20%;
}

.contact-title{
    margin-left: 1em;
}

.column-information-title {
    display: none;
}

.column-title{
    text-align: center;
    margin-top: 1em;
}

.contact-form-label{
    text-align: center;
    margin-top: 0.5em;
}

.contact-form-input{
    text-align: center;
    margin-bottom: 1em;   
}
.contact-form-input input{
    width: 80%;   
}

.contact-form-input textarea{
    margin-top: 0.5em;
    width: 80%;
    resize: none;
    height: 10vh;
}

.send-button{
    width: 80%;
    margin-left: 10%;
}